body {
  background-color: #8c8787;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}

.icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  
  &-facebook { background-color: #3b5998; }
  &-instagram { background-color: #e4405f; }
  &-email { background-color: #000; }
}

#title {
  font-size: 54px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(156, 192, 199);
  text-shadow: 3px 3px black;
}

.layout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar, .sidebar div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.book-list {
  flex-grow: 1;
  padding: 20px;
}

button {
  cursor:none;
  width: 160px;
  border: 2.5px solid black;
  box-shadow: 2px 2px 5px rgb(74, 74, 152), 3px 3px black;
  border-radius: 10px;
  background: rgb(156, 192, 199);
  transition: all 0.8s;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding:10px 10px;
  cursor:pointer;
  font-family: 'Kode Mono', monospace;
}

button:hover {
  box-shadow: 2px 2px 5px rgb(228, 228, 235);
  border: 2.5px solid white;
  color:rgb(35, 23, 208);
}


.filter-menu {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

.show {
  display: block;
  opacity: 1;
}

.hidden {
  display: none;
  opacity: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
 // flex-wrap: wrap; 
  padding: 10px; 
  gap:20px;

}
#title {
  display:flex;
  margin: 0; 
  padding-right: 20px; 

}

.sortt,.sort{

  display:flex;
  gap: 30px; 
  font-size:15px;
}


.header-container h1 {
  margin-left: 5%;
  flex-grow: 1;
}

#search-input {
  height:40px;
  border:2px solid blue;
  border-radius:10px;
  width:15%;
  flex-grow: 2;
  padding:0 8px;
  font-size:24px;
}