@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sanchez:ital@0;1&display=swap');



.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 

  .container {
    flex: 0 1 calc(20% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    border: 2px solid rgb(39, 39, 108);
    border-radius: 10px;
    text-align: center; 
    cursor:pointer;

    h2, h4, h1 {
      margin: 5px 0; 
  
    }
  }
}

h4,h1{
  font-family: 'Kode Mono', 'Sanchez', sans-serif;
 

}
h2{
  font-family: 'Kode Mono', 'Merriweather', 'Sanchez', sans-serif;
}


@media (max-width: 768px) {
  .book-list {
    .container {
      flex: 0 1 30%; 
    }
  }
}

@media (max-width: 480px) {
  .book-list {
    .container {
      flex: 0 1 45%; 
    }
  }
}


.button-active{
  box-shadow: 2px 2px 5px rgb(228, 228, 235);
  border: 2.5px solid blue;
  color:blue;
}

#cart{
  width:50%;
  height:auto;
  text-align:center;
  align-items: center;
  justify-content: center;
  background-color:white;
  font-size:26px;
}

#cart-content{
  font-size:22px;
  
}